{{define "channelconn"}}
<!doctype html>
<html lang="en">
  {{template "header"}}

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}

          <!-- Partial goes here -->
          <div class="col-md-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#connectModal">
              Connect
            </button>
            <div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="connectModal">Connect</h5>
                  </div>
                  <div class="modal-body">
                    <form action="/connect" method="post">
                      <div class="mb-3">
                        <label for="name" class="form-label">Thing ID</label>
                        <input type="text" class="form-control" name="thingID" id="thingID" aria-describedby="thingIDHelp">
                        <input type="text" class="invisible" name="chanID" id="chanID" aria-describedby="channelIDHelp" value="{{.Channel.ID}}">
                        <div id="channelIDHelp" class="form-text">Enter channel ID.</div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="row">Channel</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{.Channel.Name}}</td>
                </tr>
                <tr>
                  <th>ID</th>
                  <td>{{.Channel.ID}}</td>
                </tr>
                <tr>
                  <th>Metadata</th>
                  <td>
                    <pre>{{toJSON .Channel.Metadata}}</pre>
                    </td>
                </tr>
              </tbody>
            </table>
            {{ $c := .Channel.ID }}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="4">CONNECTED THINGS</th>
                </tr>
              </thead>
              <tbody>
                {{range $i, $t := .Things}}
                  <tr>
                    <th scope="row">{{$i}}</th>
                    <td>{{$t.Name}}</td>
                    <td><a href={{printf "/things/%s" $t.ID}}>{{$t.ID}}</a></td>
                    <td>
                      <form action="/disconnect" method="post">
                        <input type="hidden" name="chanID" id="chanID" value="{{$c}}">
                        <input type="hidden" name="thingID" id="thingID" value="{{$t.ID}}">
                        <button type="submit" class="btn btn-danger btn-sm">Disconnect</button>
                      </form>
                    </td>
                  </tr>
                {{end}}
              </tbody>
            </table>
          </div>
          <!-- End of partial-->

        </div>
      </div> <!-- /container -->
    </main>

    {{template "footer"}}

  </body>
</html>
{{end}}
