{{define "channels"}}
<!doctype html>
<html lang="en">
  {{template "header"}}

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}

          <!-- Partial goes here -->
          <div class="col-md-4">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
              Add
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Channel</h5>
                  </div>
                  <div class="modal-body">
                    <form method="post">
                      <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Enter device name.</div>
                      </div>
                      <div class="mb-3">
                        <label for="meatadata" class="form-label">Metadata</label>
                        <input type="text" class="form-control" name= "metadata" id="metadata">
                        <div id="metadataHelp" class="form-text">Enter device metadata in JSON format.</div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">NAME</th>
                  <th scope="col">ID</th>
                </tr>
              </thead>
              <tbody>
                {{ range $i, $t := .Channels }}
                  <tr>
                    <th scope="row">{{ $i }}</th>
                    <td>{{ $t.Name }}</td>
                    <td><a href={{printf "/channels/%s" $t.ID}}>{{ $t.ID }} </a></td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
          <!-- End of partial-->

        </div>
      </div> <!-- /container -->
    </main>

    {{template "footer"}}

  </body>
</html>
{{end}}