{{define "things"}}
<!doctype html>
<html lang="en">
  {{template "header"}}

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}

          <!-- Partial goes here -->
          <div class="col-md-4">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ID</th>
                  <th scope="col">NAME</th>
                </tr>
              </thead>
              <tbody>
                {{ range $i, $t := .Things }}
                  <tr>
                    <th scope="row">{{ $i }}</th>
                    <td>{{ $t.ID }}</td>
                    <td>{{ $t.Name }}</td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
          <!-- End of partial-->

        </div>
      </div> <!-- /container -->
    </main>

    {{template "footer"}}

  </body>
</html>
{{end}}