{{define "things"}}
<!doctype html>
<html lang="en">
  {{template "header"}}

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}

          <!-- Partial goes here -->
          <div class="col-md-4">
            <h2>Things</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus enim, commodo ut viverra ac,
              pretium consectetur arcu. Phasellus tincidunt laoreet est, id gravida turpis maximus sed. Cras ante nibh,
              egestas at suscipit eu, varius sit amet tortor. Vestibulum ante ipsum primis in faucibus orci luctus et
              ultrices posuere cubilia curae; Maecenas sed massa sed sem convallis laoreet eget ac velit.
              Aenean suscipit metus est, at gravida lectus hendrerit id. Vestibulum egestas feugiat cursus.
              Integer vehicula luctus sem, et varius risus dapibus vel. Pellentesque at eros aliquam, volutpat odio id,
              bibendum ligula. Proin libero ligula, feugiat sed nisl in, dictum fermentum risus.
              In vestibulum sit amet ipsum eu convallis. Phasellus ullamcorper mi sit amet vulputate aliquam.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <!-- End of partial-->

        </div>
      </div> <!-- /container -->
    </main>

    {{template "footer"}}

  </body>
</html>
{{end}}