{{define "thingconn"}}
<!doctype html>
<html lang="en">
  {{template "header"}}

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}

          <!-- Partial goes here -->
          <div class="col-md-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#connectModal">
              Connect
            </button>
            <div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="connectModal">Connect</h5>
                  </div>
                  <div class="modal-body">
                    <form action="/connect" method="post">
                      <div class="mb-3">
                        <label for="name" class="form-label">Channel ID</label>
                        <input type="text" class="form-control" name="chanID" id="chanID" aria-describedby="chanelIDHelp">
                        <input type="text" class="invisible" name="thingID" id="thingID" aria-describedby="thingIDHelp" value="{{.Thing.ID}}">
                        <div id="channelIDHelp" class="form-text">Enter channel ID.</div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="row">THING</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{.Thing.Name}}</td>
                </tr>
                <tr>
                  <th>ID</th>
                  <td>{{.Thing.ID}}</td>
                </tr>
                <tr>
                  <th>Key</th>
                  <td>{{.Thing.Key}}</td>
                </tr>
                <tr>
                  <th>Metadata</th>
                  <td>
                    <pre>{{toJSON .Thing.Metadata}}</pre>
                    </td>
                </tr>
              </tbody>
            </table>
            {{ $t := .Thing.ID }}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="4">CONNECTED CHANNELS</th>
                </tr>
              </thead>
              <tbody>
                {{range $i, $c := .Channels}}
                  <tr>
                    <th scope="row">{{$i}}</th>
                    <td>{{$c.Name}}</td>
                    <td><a href={{printf "/channels/%s" $c.ID}}>{{$c.ID}}</a></td>
                    <td>
                      <form action="/disconnect" method="post">
                        <input type="hidden" name="thingID" id="thingID" value="{{$t}}">
                        <input type="hidden" name="chanID" id="chanID" value="{{$c.ID}}">
                        <button type="submit" class="btn btn-danger btn-sm">Disconnect</button>
                      </form>
                    </td>
                  </tr>
                {{end}}
              </tbody>
            </table>
          </div>
          <!-- End of partial-->

        </div>
      </div> <!-- /container -->
    </main>

    {{template "footer"}}

  </body>
</html>
{{end}}
