{{ define "content" }}
    <p class="mb-16">
        To complete your Mainflux Labs account registration, please verify your e-mail address by clicking the button below:
    </p>

    <p class="btn-wrapper">
        <a href="{{ .RedirectURL }}" class="btn">Verify E-mail Address</a>
    </p>
{{ end }}
