{{ define "content" }}
    <p>Navigate to the following URL to verify your e-mail address and complete MainfluxLabs account registration:</p>

    <a href="{{ .RedirectURL }}">Click here to verify your e-mail address.</a>
{{ end }}
