{{ define "content" }}
    <p style="margin-bottom:16px;">
        You've requested to reset your Mainflux Labs account password. Click the button below to proceed:
    </p>

    <p style="text-align:center; margin-top:24px;">
        <a href="{{ .RedirectURL }}" class="btn">Reset Password</a>
    </p>
{{ end }}
