{{ define "content" }}
    <p class="mb-16">
        You've been invited to join Mainflux Labs! Click the button below to create your account and get started:
    </p>

    <p class="btn-wrapper">
        <a href="{{ .RedirectURL }}" class="btn">Create Account</a>
    </p>
{{ end }}
