{{ define "content" }}
    <p style="margin-bottom:16px;">
        You've been invited to join Mainflux Labs! Click the button below to create your account and get started:
    </p>

    <p style="text-align:center; margin-top:24px;">
        <a href="{{ .RedirectURL }}" class="btn">Create Account</a>
    </p>
{{ end }}
