{{ define "content" }}
    <p class="mb-16">
        A publisher with ID <strong>{{ .PublisherID }}</strong> sent a message over
        <strong>{{ .Protocol }}</strong> with the following values:
    </p>

    <pre class="code-block">{{ .MessageContent }}</pre>
{{ end }}
