{{ define "content" }}
    <p class="mb-16">
        You've been assigned as a member of a Group on the Mainflux platform!
    </p>

    <p class="mb-8"><strong>Organization:</strong> {{ .OrgName }}</p>
    <p class="mb-16"><strong>Group:</strong> {{ .GroupName }}</p>
    <p class="mb-16"><strong>Role:</strong> {{ .Role }}</p>
{{ end }}
