{{ define "content" }}
    <p class="mb-16">
        You have been invited to join an Organization on the Mainflux platform. This will give you access to collaborate with other members and manage IoT resources according to your assigned role.
    </p>

    <p class="mb-8"><strong>Organization:</strong> {{ .OrgName }}</p>
    <p class="mb-16"><strong>Role:</strong> {{ .Role }}</p>

    {{ if .Groups }}
        By accepting the invite, you will additionally be granted access to the following Groups within the Organization:

        <ul>
            {{ range $name, $role := .Groups }}
                <li><strong>{{ $name }}</strong>: {{ $role }}</li>
            {{ end }}
        </ul>
    {{ end }}

    <p class="btn-wrapper">
        <a href="{{ .InviteLink }}" class="btn">View Invitation</a>
    </p>
{{ end }}
